<div class="main">
    <button type="submit" routerLink="/accounts">Voltar</button> Detalhes da conta {{user.name}} 
    <div class="details">
        <button type="submit" routerLink="/accounts/edit/{{user.id}}">Editar</button>
        <button type="submit" (click)="deleteUser()">Eliminar</button>
        <button type="submit" (click)="resetPassword()">Restaurar Password</button>
        <div class="content">
            <a>Nome de Utilizador: {{user.username}}</a> <br>
            <a>Nome: {{user.name}}</a> <br>
            <a>E-mail: {{user.email}}</a> <br>
            <a>Tipo de Utilizador: {{user.userType}}</a> <br>
        </div>

    </div>   

</div>