<div class="main">
    <h2> Alterar password {{user.name}} </h2>
    <div class="details">
        <button type="submit" (click) = "saveUser()">Guardar</button>
        <button type="submit" (click)="discardChanges()" >Cancelar</button>
        <div class="content">
            <a>Password atual:</a> <input type="password" [(ngModel)] ="password"> <br>
            <a>Password nova: </a> <input type="password" [(ngModel)] ="newPassword"> <br>
            <a>Confirma Password</a> <input (keyup)="checkPasswords()" type="password" [(ngModel)] ="confPassword"> <a> {{error}} </a> <br>
            
        </div>

    </div>   

</div>