<div @fade class="w-[calc(100%+32px)] h-fit z-50 shadow-md rounded-lg rounded-tr-none shadow-slate-500 sticky -top-4 -ml-4 -mt-4 p-2 "  [style.background]="appMode==='dark' ? '#b0b5b5':'#f2eeed'">
    <app-header [title]="'Detalhes do Cliente'" [back]="back" [hasfilters]="true"></app-header>
    <div *ngIf="!edit">
        <button (click)="edit=true" class=" ml-2 mr-2 text-white p-2 rounded-md" [style.background-color]="color">
            <i class="fa fa-pencil p-1"></i> <i *ngIf="!isScreenSizeLessThan1200"> Editar</i>
        </button>
        <button (click)="deleteClient()"
            class="mr-2 bg-red-600 text-white p-2 rounded-md">
            <i class="fa fa-trash p-1"></i> <i *ngIf="!isScreenSizeLessThan1200"> Apagar</i>
        </button>
    </div>
    <div *ngIf="edit">
        <button (click)="updateClient()" class="mr-2 text-white p-2 rounded-md" style="color:white"
            [style.background-color]="color">
            <i class="fa fa-floppy-disk p-1"></i> <i *ngIf="!isScreenSizeLessThan1200"> Guardar</i>
        </button>
        <button (click)="cancelEdit()" class="mr-2 bg-red-600 text-white p-2 rounded-md">
            <i class="fa fa-ban p-1"></i> <i *ngIf="!isScreenSizeLessThan1200"> Cancelar</i>
        </button>
    </div>
</div>
<div @fade *ngIf="!edit"
    class="w-full mt-6 grid grid-cols-1 md:grid-cols-2 gap-4 p-4 rounded-lg shadow-xl shadow-slate-500"
    [style.background]="appMode==='dark' ? '#b0b5b5':'#f2eeed'">

    <div>
        <label class="text-xl mr-2">Nome:</label>
        <label class="text-xl font-extrabold break-words">{{client.name}}</label>
    </div>

    <div>
        <label class="text-xl mr-2 break-keep">Nº de contribuinte:</label>
        <label class="text-xl font-extrabold break-words">{{client.ncont}}</label>
    </div>

    <div>
        <label class="text-xl mr-2 break-keep">E-mail:</label>
        <label class="text-xl font-extrabold break-words">{{client.email}}</label>
    </div>

    <div>
        <label class="text-xl mr-2 break-keep">Contacto:</label>
        <label class="text-xl font-extrabold break-words">{{client.contacto}}</label>
    </div>

    <div>
        <label class="text-xl mr-2 break-keep">Morada:</label>
        <label class="text-xl font-extrabold break-words">{{client.morada}}</label>
    </div>

    <div>
        <label class="text-xl mr-2 break-keep">Código Postal:</label>
        <label class="text-xl font-extrabold break-words">{{client.codPost}}</label>
    </div>

    <div>
        <label class="text-xl mr-2 break-keep">Cidade:</label>
        <label class="text-xl font-extrabold break-words">{{client.cidade}}</label>
    </div>

    <div>
        <label class="text-xl mr-2 break-keep">Representante:</label>
        <label class="text-xl font-extrabold break-words">{{client.rep}}</label>
    </div>

    <div>
        <label class="text-xl mr-2 break-keep">Contacto do Representante:</label>
        <label class="text-xl font-extrabold break-words">{{client.repContacto}}</label>
    </div>

    <div>
        <label class="text-xl mr-2 break-keep">E-mail do Representante:</label>
        <label class="text-xl font-extrabold break-words">{{client.repEmail}}</label>
    </div>


</div>
<div @fade *ngIf="edit" class="w-full mt-5 grid grid-cols-1 md:grid-cols-2 gap-4 p-4 rounded-lg shadow"
    [style.background]="appMode==='dark' ? '#b0b5b5':'#f2eeed'">

    <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="client.name" required>
        <mat-error>Deve preencher o Nome</mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Nº de contribuinte</mat-label>
        <input matInput type="number" [(ngModel)]="client.ncont" required>
        <mat-error>Deve preencher o contacto</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" [(ngModel)]="client.email" required>
        <mat-error>Deve preencher o E-mail</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Contacto</mat-label>
        <input matInput type="text" [(ngModel)]="client.contacto" required>
        <mat-error>Deve preencher o contacto</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Morada</mat-label>
        <input matInput type="text" [(ngModel)]="client.morada" required>
        <mat-error>Deve preencher a morada</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Código Postal</mat-label>
        <input matInput type="text" [(ngModel)]="client.codPost" required>
        <mat-error>Deve preencher o código postal</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Cidade</mat-label>
        <input matInput type="text" [(ngModel)]="client.cidade" required>
        <mat-error>Deve preencher a cidade</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Representante</mat-label>
        <input matInput type="text" [(ngModel)]="client.rep" >
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Contacto do representante</mat-label>
        <input matInput type="text" [(ngModel)]="client.repContacto" >
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>E-mail do representante</mat-label>
        <input matInput type="text" [(ngModel)]="client.repEmail" >
    </mat-form-field>

</div>
<app-licences [clientId]="paramId"></app-licences>
