<div class="flex flex-col items-center p-4"[style.background]="appMode==='dark' ? '#b0b5b5':'#f2eeed'">
    <h2 mat-dialog-title class="text-xl font-bold mb-4">Alterar Palavra-Passe</h2>
    <div mat-dialog-content class="w-full">

        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Palavra-Passe Atual</mat-label>
            <input matInput [type]="hide1 ? 'password' : 'text'" [(ngModel)]="password" required>
            <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Ocultar'" [attr.aria-pressed]="hide1">
              <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error>Deve preencher a Palavra-Passe Atual</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Nova Palavra-Passe</mat-label>
            <input [(ngModel)]="newPassword1" matInput required [type]="hide2 ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Ocultar'" [attr.aria-pressed]="hide2">
              <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error>Deve preencher a Nova Palavra-Passe</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Confirmar Nova Palavra-Passe</mat-label>
            <input [(ngModel)]="newPassword2"  required matInput [type]="hide3 ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide3 = !hide3" [attr.aria-label]="'Ocultar'" [attr.aria-pressed]="hide3">
              <mat-icon>{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error>Deve confirmar a Nova Palavra-Passe</mat-error>
        </mat-form-field>

    </div>
    <div mat-dialog-actions class="flex justify-center mt-4">
        <button style="background-color: rgba(0, 128, 0, 0.788);" mat-button (click)="changePassword()">
            <i class="fa fa-floppy-disk"></i> 
            Alterar
        </button>
        <button style="background-color: rgba(168, 0, 0, 0.788);" mat-button (click)="onClose()"> 
            <i class="fa fa-ban"></i> 
            Cancelar
        </button>
    </div>
</div>