@import url('https://cdn.syncfusion.com/ej2/material.css');

.sidebar {
  transition: width 0.3s ease;
}

.nav-bar {
  transition: margin-right 0.3s ease;
}

.user-profile {
  transition: margin-right 0.3s ease;
}

.main-body {
  transition: margin-left 0.3s ease;
}

.component {
  transition: width 0.3s ease;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
.sweetalert-container {
  z-index: 9999; /* Adjust this value as needed */
}