@tailwind base;
@tailwind components;
@tailwind utilities;

.sweetalert-container {
    z-index: 9999; /* Adjust this value as needed */
    background-color: white;
  }

  .sweetalert-container-dark {
    z-index: 9999; /* Adjust this value as needed */
    background-color: white;
    --tw-bg-opacity: 1;
    background-color: rgb(156 163 175 / var(--tw-bg-opacity));
  }
