<app-header [title]="title" [back]="back"></app-header>
<table>
    <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
            <th>Column 3</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of tableData | slice: (currentPage - 1) * itemsPerPage : currentPage * itemsPerPage">
            <td>{{ item.column1 }}</td>
            <td>{{ item.column2 }}</td>
            <td>{{ item.column3 }}</td>
        </tr>
    </tbody>
</table>

<!-- Pagination controls -->
<div class="pagination">
    <button [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)"><</button>
    <span>{{ currentPage }} de {{getTotalPages()}}
        <label for="itemsPerPage"> Nº de linhas:</label>
        <input class="items-per-page" type="number" id="itemsPerPage" [(ngModel)]="itemsPerPage">
    </span>
    <button [disabled]="currentPage === getTotalPages()" (click)="onPageChange(currentPage + 1)">></button>
</div>