.header{
    height: 60px;
    width: 100%;
    top:0px;
    background-color: white;
    box-shadow: 5px 1px 10px 5px rgba(0, 0, 0, 0.671);
    position: sticky;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    display: flex;
    z-index: 10;

    .btn{
        font-size: x-large;
        font-weight: bolder;
        margin: 1px 10px 10px 10px;
        height: 40px;
        width: 40px;
        padding: 5px 5px 5px 9px;
        color: white;
        background: #263238;;
        border-radius: 5px;
    }

    .btn:hover{
        cursor: pointer;
        background: gray;
    }

    .title{
        padding: 1px 5px 5px 9px;
        font-size: xx-large;
        font-weight: bolder;
    }
}
