<app-header [title]="title" [back]="back"></app-header>
<div class="cont">
    <div class="btn" *ngIf="isScreenSizeLessThan1200" (click)="toggleInputs()">
        <i class="fal fa-eye"></i>Filtros
    </div>
    <div class="filters">
        <input *ngIf="!isScreenSizeLessThan1200 || showInputs" type="text" [(ngModel)]="searchTerm" type="text"
            placeholder="procura1" (input)="filterData()">
        <input *ngIf="!isScreenSizeLessThan1200 || showInputs" type="text" placeholder="procura2">
        <input *ngIf="!isScreenSizeLessThan1200 || showInputs" type="text" placeholder="procura3">
        <input *ngIf="!isScreenSizeLessThan1200 || showInputs" type="text" placeholder="procura4">
    </div>

</div>
<div class="card-grid">
    <div *ngFor="let dt of filteredData">
        <app-card [title]="dt.title" [display]="dt.display" [link]="dt.link"></app-card>
    </div>
</div>