.card {
    width: 100%;
    height: 300px;
    border: rgb(196, 191, 183) solid 1px;
    margin-bottom: -5px;
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: #fff;
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 10px 10px 20px 1px #000000;

    .card-header {
        width: 100%;
        height: 50px;
        background: rgb(131, 130, 130);
        border-radius: 5px 5px 0px 0px;
        display: flex;
        padding-top: 0px;
        align-items: center;
        justify-content: space-between;


        .header-title {
            flex: 1;
            text-align: left;
            margin-left: 10px;
            font-weight: bold;
            font-size: x-large;
        }

        .header-button {
            flex-shrink: 0;
            text-align: right;
            margin-right: 10px;
            padding: 6px 10px 10px 10px;
            height: 30px;
            width: max-content;
            background: wheat;
            border-radius: 5px;

        }

        .header-button:hover {
            background: white;
            cursor: pointer;
        }

    }

    .card-content {
        height: 210px;
        background: aliceblue;
        overflow-y: scroll;

        .content1 {
            display: flex;
            margin-left: 10px;
            margin-top: 5px;
            margin-bottom: 5px;

            .title {
                font-weight: 700;
                margin-right: 5px;
                font-size: x-large;
            }

            .desc {
                margin-top: 5px;
                font-size: large;
            }
        }
    }

    .card-footer {
        background: rgb(131, 130, 130);
        height: 40px;
        border-radius: 0 0 5px 5px;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 100%;

        .footer-button {
            margin-left: 10px;
            padding: 6px 10px 10px 10px;
            height: 30px;
            width: max-content;
            background: wheat;
            border-radius: 5px;

        }
        .red{
            background-color: red;
        }

        .footer-button:hover {
            background: white;
            cursor: pointer;
        }
    }
}