<div class="main">
    <h2> Editar produto {{product.name}} </h2>
    <div class="details">
        <button type="submit" (click) = "saveProduct()">Guardar</button>
        <button type="submit" (click) = "discardProduct()">Cancelar</button>
        <div class="content">
            <a>Nome:</a> <input type="text" [(ngModel)] ="product.name"> <br>
            <a>Fabricante:</a> <input type="text" [(ngModel)] ="product.manufacture"> <br>
            <a>Descrição:</a> <textarea [(ngModel)] ="product.description"type="text" ></textarea> <br>
            <a>Quantidade por caixa:</a> <input type="number" [(ngModel)] ="product.boxQuantity" > <br>
            <a>Unitário:</a> 
            <select [(ngModel)]="product.unity">
                <option value="uni" >Unidade</option>
                <option value="l">Litros</option>
                <option value="ml">Mililitros</option>
                <option value="kg">Kilogramas</option>
                <option value="g">Gramas</option>
            </select><br>
            <a>Preço:</a> <input type="number" [(ngModel)] ="product.price" > <br>
            <a>Stock:</a> <input type="number" [(ngModel)] ="product.stock" > <br>
        </div>

    </div>   

</div>