.register{
    text-align: center!important;
    margin: auto;
    width: 200px;
    border: 1px solid;
    border-radius:5px;
    background-color:white;
}
.register input[type="text"],input[type="password"]{
    margin-top:15px;
    margin-bottom:15px;
    border-top: none;
    border-right: none;
    border-left: none;
}

.register input[type="submit"]{
    margin-top:15px;
    margin-bottom:15px;
}

.header{
    background-color: green;
    margin-top:-21px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.registerForm input{
    margin-top:15px;
    margin-bottom:15px
}