<div class="register">
    <div class="header">
        <h1>Register</h1>
    </div>
    <form class="registerForm" (ngSubmit)="onSubmit()">
        <input type="text" name="username" placeholder="Username" [(ngModel)] = "username" required>
        <input type="text" name="name" placeholder="Name" [(ngModel)] = "name" required>
        <input type="text" name="email" placeholder="E-mail" [(ngModel)] = "email" required>
        <input type="password" name="password" placeholder="Password" [(ngModel)] = "password" required>
        <input type="password" name="confirmPassword" (keyup)="checkPasswords()" placeholder="Confirm Password" [(ngModel)] = "confirmPassword" required>
        <br>
        <a >{{error}}</a>
        <input type="submit" value="Register">
    </form>
    <input routerLink="/" type="submit" value="Cancel">
</div>