<div class="form">
    <div class="header">
        <a class="close" (click)="handleEvent()"> <i class="fal fa-times"></i></a>
    </div>
    <div class="content">
        <div class="user-details">
            <div class="user-foto">
                <img width="80" src="./assets/img/user.png"/>
            </div>
            <div class="user-info">
                <p>{{name}}</p>
                <p>nome@utilizador.com</p>
            </div>
        </div>
        <div class="btn">
            <div class="btn-icon">
                <i class="fal fa-user"></i>
            </div>
            <div class="btn-text">
                <p>Perfil</p>
            </div>
        </div>
        <div class="btn"(click)="handleLogout()">
            <div class="btn-icon">
                <i class="fal fa-sign-in"></i>
            </div>
            <div class="btn-text" >
                <p>Sair</p>
            </div>
        </div>
    </div>
</div>